*{
    margin:0;
}
.con{
    margin: 0;
}
.header{
    padding: 10px;
    display: flex;
    background-color:cadetblue;
    justify-content: space-between;
}
.productBlock{
    background-color: orange;

}
.row{
    display: flex;
    justify-content: center;
}
.box{
    background-color: white;
    margin:10px;
    border-radius: 20px;
    padding: 15px;
}
.cartBlock{
    background-color: silver;
    width:400px;
    position: fixed;
    top:0px;
    left:100%;
    height:100%;
    padding:20px;
    transition: 1s;
}
